.wrapper {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

table {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 30px;
}

thead {
    text-transform: uppercase;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 1.3em;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}

input {
    font-size: 0.8em;
    width: 80px;
    border-radius: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input:hover {
    background-color: gainsboro;
}


footer {
    color: #808080;
    text-align: center;
    border-top: 1px solid #F8F8F8;
    width: 100%;
    letter-spacing: 0.2px;
    padding: 20px 0 20px 0;
    /* position: absolute; */
    /* bottom: 0; */
    margin: 0 auto;
    font-family: 'Helvetica Neue', sans-serif; 
}